In [1]:
import sys
from pathlib import Path
import os
# Add project root to sys.path
sys.path.append(str(Path().resolve().parent))  # Adjust if needed

import numpy as np
import pandas as pd
from datetime import datetime as dt
from db.db_operations import execute_db_operations

from generators.full_generators import (
    create_company_data
)

In [2]:
company_name = "Lego"
count_products = 10
count_employees = 10

data = create_company_data(company_name, count_employee = count_employees, count_products = count_products, 
                           count_accounts = 30, count_departments = 10, count_customers = 10, save_to_csv=True)

Generating data for company: Lego...
✔ Roles and Names generated.
✔ Procurement data generated.
✔ Services data generated.
✔ Products data generated.
✔ Accounts, Customers, and Departments generated.
✔ Payroll data generated.
✔ All CSVs saved to: data/outputdata/
✔ All mapping data generated.
✔ All mapping CSVs saved to: data/outputdata/mapping
✔ All erp-data generated.
✔ All ERP CSVs saved to: data/outputdata/fact
✔ All ERP data and mapping generated for company: Lego

In [2]:
company_name = "Lego"
version_tag = company_name.lower() + dt.now().strftime("%Y%m%d%H%M%S")
execute_db_operations(version_tag)

powerdatademo.database.windows.net
demo_db
admindatademo
NewTech2022
Connection string: DRIVER={ODBC Driver 17 for SQL Server};SERVER=tcp:powerdatademo.database.windows.net,1433;DATABASE=demo_db;UID=admindatademo;PWD=NewTech2022;TrustServerCertificate=Yes;Encrypt=yes;
INSERT INTO dbo.dim_version (version) VALUES ('lego20250805175031')
inserting department.csv into database
Max ID in dim_department: 20
INSERT INTO [dim_department] ([department_id],[name],[proportionality],[numemployees],[id],[version_id]) VALUES (?,?,?,?,?,?)

ProgrammingError: ('42S22', "[42S22] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid column name 'numemployees'. (207) (SQLExecDirectW); [42S22] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Statement(s) could not be prepared. (8180)")